.container{
    width: 100%;
    height: 100vh;
    background-color: #010E14;
    display: flex;
    
}
.todo-container{
  width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 20px;
}
.heading{
    color: white;
    font-size: 3.5rem;
    font-weight: 500;
}
.timer-container h3{
    color: white;
    font-size: 1.7rem;
}

input{
    width: 100%;
    max-width: 300px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}
input:focus{
    outline: 2px solid #60AEE1;
}
.addbtn{
    border: none;
    font-size: 1.2rem;
    outline:none;
    color: white;
    background-color: #60AEE1;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
}
.clearbtn{
    border: none;
    background-color: #E74A39;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
}
.result-container{
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    
    
}
.result{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
}
li{
    list-style: none;
    font-size: 1.2rem;
}
.delete{
    color: #E74A39;
    font-size: 1.2rem;
    border-radius: 50%;
}
button{
    cursor: pointer;
}