*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  
}
.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  column-gap: 5rem;
  row-gap: 3rem;
  justify-content: center;
  margin: 2rem 0;

}
.card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}
.image-container img{
  max-width: 250px;
  align-items: center;
  height: 400px;
}
.btn-container{
  margin-top: 1rem;
  width: 100%;
}
.btn-container button{
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  cursor: pointer;
}