*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: black;
}
h1, h2{
  color: white;
}
p{
  color: gray;
  line-height: 1.8;
  font-size: 1rem;
}
a{
  text-decoration: none;
  color: white;
}
button{
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  padding: 8px 15px;
}
li{
  list-style: none;
}


/* loader  */
.loader-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}



/* header start  */
header{
  width: 100%;
  height: 5rem;
  background-color: #1F1F1F;
   position: sticky;
   top: 0;
   z-index: 999999;
   
}
.container{
  max-width: 85rem;
  height: 100%;
  margin: auto;
  
}
.grid-container{
  height: 100%;
  display: grid;
  grid-template-columns: .5fr 1fr;
  align-items: center;
  margin: 0 2rem;
  column-gap: 2rem;
 
  
}
nav{
  justify-items: flex-end;
}
nav ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}
.icons{
  font-size: 1.5rem;
}
.menu-btn{
  display: none;
}
.mobile-menu{
  display: none;
}

.active{
  text-decoration: underline;
}


@media (width < 990px) {
  .web-menu{
    display: none;
  }
  .menu-btn{
    display: flex;
    justify-content: flex-end;
  }
  .mobile-menu{
    display: inline-block;
  }
  .mobile-menu ul{
  position: absolute;
  top: 5rem;
  background-color: gray;
  width: 100%;
  right: 0;
  display: flex;
    align-items: center;
  flex-direction: column;
  gap: 2rem;
   padding: 2rem 0;
 
}
.mobile-nav{
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
 
}
  
}

/* header end  */


/* hero section start */
.hero-container{
 padding: 0 2rem;
 margin-top: 5rem;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  margin-bottom: 10rem;
}
.content-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content-container h1{
  max-width: 450px;
  line-height: 1.5;
  font-size: 2.5rem;
}
.image-container img{
  width: 100%;
  border-radius: 10%;
}

@media (width < 800px) {
  .hero-container{
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 5rem;
  }
}

/* hero section end */


/* fact section start  */
.fact-container{
  padding: 0 2rem;
  width: 100%;
  margin-bottom: 10rem;
}
.heading-container{
  display: flex;
  justify-content: center;
}
.heading{
  max-width: 400px;
  text-align: center;
  line-height: 1.5;
  font-size: 2rem;
}
.card-container{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  justify-content: center;
  gap: 3rem;
}
.card{
  width: 100%;
  background-color: #131116;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: 1.8rem;
  border-radius: 2rem;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: all .5s linear;
}
.card h3{
  color: white;
  font-size: 1.8rem;
}
.card span{
  color: white;
}

.card:hover{
  transform: scale(1.1);
}
/* fact section end  */


/* contact section start  */

.contact-container{
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.7rem;


}
.contact-heading{
  margin-bottom: 3rem;
}
h3{
  font-size: 2rem;
  color: white;
}
form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 600px;
  padding: 0 2rem;
}
input, textarea{
  font-size: 1rem;
  padding: 10px;
  border: none;
  outline: none;
  background-color: black;
  border: 1px solid gray;
  border-radius: 10px;
  color: white;
}
input:focus{
  border-color: wheat;
}
/* contact section end  */



/* footer section start  */

.footer-section{
  width: 100%;
  background-color: #141414;
  padding: 1.5rem;

  
}
.footer-card{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.main-card{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.footer-icon{
  font-size: 1.8rem;
  color: #3543B3;
}
.footer-content h3{
  font-size: 1.2rem;
}


@media (width < 780px) {
  .footer-card{
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    
  }
  .main-card{
    align-self: self-start;
  }
}
/* footer section end  */



/* country section start  */
.country-container{
  padding: 0 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.country-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  justify-content: center;
  gap: 3rem;
}
.country-card{
  width: 100%;
  background-color: #131116;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: 1.8rem;
  border-radius: 2rem;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: all .5s linear;
}
.country-image-container{
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;

}
.country-image-container img{
  width: 100%;
  height: 100%;
}
.country-content-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  margin: auto;
}
.btn-container{
  margin-top: 1rem;
}

.search-container-grid{
  width: 100%;
  max-width: 90rem;

  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  justify-content: center;
  padding: 0 2rem;
  gap: 5rem;
  
}
.compaire-container{
  display: flex;
  justify-content: space-between;
}
.drop-dwon-search{
  width: 100%;
}
.drop-dwon-search input{
  width: 100%;
}

.input-search{
  width: 100%;
}
.input-search input{
  width: 100%;
}
/* country section end  */


/* country details secttion  */
.country-details-section{
  padding: 2rem;
}
.country-details-card{
  margin-top: 6rem;
  width: 100%;
  padding: 2rem;
  background-color: #131116;
  border: 1px solid white;
  border-radius: 2rem;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin-bottom: 7rem;
  
}
.country-details-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.country-details-image{
  width: 100%;
}
.country-details-image img{
  width: 100%;
}
@media (width < 900px) {
  .country-details-card{
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}
/* country details secttion  */