*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: black;
}
h1, h2{
  color: white;
}
p{
  color: gray;
  line-height: 1.8;
  font-size: 1rem;
}
a{
  text-decoration: none;
  color: white;
}
button{
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  padding: 8px 15px;
}
li{
  list-style: none;
}

/* header start  */
header{
  width: 100%;
  height: 5rem;
  background-color: #1F1F1F;
   position: relative;
}
.container{
  max-width: 85rem;
  height: 100%;
  margin: auto;
  
}
.grid-container{
  height: 100%;
  display: grid;
  grid-template-columns: .5fr 1fr;
  align-items: center;
  margin: 0 2rem;
  column-gap: 2rem;
 
  
}
nav{
  justify-items: flex-end;
}
nav ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}
.icons{
  font-size: 1.5rem;
}
.menu-btn{
  display: none;
}
.mobile-menu{
  display: none;
}

.active{
  text-decoration: underline;
}


@media (width < 990px) {
  .web-menu{
    display: none;
  }
  .menu-btn{
    display: flex;
    justify-content: flex-end;
  }
  .mobile-menu{
    display: inline-block;
  }
  .mobile-menu ul{
  position: absolute;
  top: 5rem;
  background-color: gray;
  width: 100%;
  right: 0;
  display: flex;
    align-items: center;
  flex-direction: column;
  gap: 2rem;
   padding: 2rem 0;
 
}
.mobile-nav{
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
 
}
  
}

/* header end  */


/* hero section start */
.hero-container{
 padding: 0 2rem;
 margin-top: 5rem;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
}
.content-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content-container h1{
  max-width: 450px;
  line-height: 1.5;
  font-size: 2.5rem;
}
.image-container img{
  width: 100%;
  border-radius: 10%;
}

@media (width < 800px) {
  .hero-container{
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 5rem;
  }
}

/* hero section end */