*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: black;
}
h1, p, h2{
  color: white;
}
a{
  text-decoration: none;
  color: white;
}
button{
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  padding: 8px 15px;
}
