*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  
  
}
.card-container{
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 200px));
  gap: 3rem;
  justify-items: center;
  margin-top: 100px;
  
}
.card{
  /* max-width: 350px; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.image-container img{
  width: 100%;
  height: 200px;
}
.content-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
p{
  line-height: 2;
  color: gray;
}
button{
  margin-bottom: 1rem;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 10px;
  background-color: #003A97;
}