* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global font */
html {
  font-family: sans-serif;
}

/* HEADER */
header {
  width: 100%;
  height: 5rem;
  background-color: #d4e6f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Outer container */
.container {
  margin: 0 10rem;
}

/* Navigation layout */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation items */
li {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: rgb(54, 48, 48);
  font-size: 1.2rem;
}

a:hover {
  color: black;
  text-decoration: underline;
}

/* Desktop menu */
nav ul {
  display: flex;
  gap: 2rem;
  height: 5rem;
  align-items: center;
}

/* Hamburger icon hidden on desktop */
.menu-icon {
  display: none;
}

/* ===========================
   Responsive Section 
=========================== */
@media (max-width: 990px) {
  .web-menu {
    display: none;
  }

  .menu-icon {
    display: flex;
    height: 5rem;
    align-items: center;
    color: black;
    
  }

  nav {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  nav ul {
    flex-direction: column;
    gap: 1.2rem;
    height: auto;
    padding: 1rem 0;
  }
}
