*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    padding: 0 3rem;
}
.nav-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top-bar{
   background-color: #2A2C30;
   color: white;
   padding: 1rem 7rem;
}
.topbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.authentication-section{
    display: flex;
    gap: 2rem;
}
.authentication-section a{
    text-decoration: none;
    color: rgb(96, 96, 211);
    font-size: 1.2rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 7rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
}
a{
    text-decoration: none;
    color: #2A2C30;
    font-size: 1.2rem;
}
a:hover{
    color: rgb(73, 73, 220);
}
ul{
    display: flex;
    gap: 2rem;
    text-decoration: none;

}


.footer{
    background-color: #2A2C30;
    padding: 3rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  
}
.left-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white
}
.footer p{
    color: gray;
}
.right-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    text-align: center;
   
}
.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box h1{
    color: white;
    font-size: 1.2rem;
    text-align: left;
}
.active{
   color: rgb(73, 73, 220);
  
}

.Error-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.error-container img{
    max-width: 100%;
  width: 800px;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.error-container button{
    text-align: center;
    border: none;
    padding: 20px 100px;
    color: white;
    font-size: 1.3rem;
    background-color: brown;
    cursor: pointer;
    border-radius: 20px;
}

.movies-card-container{
    padding: 4rem 2rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
    justify-content: center;
    justify-items: center;
    column-gap: 7rem;
    row-gap: 4rem;
    
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    transition: all linear .5s;
    
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
}
.card-content{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.movie-image {
    max-width: 280px;
}
.movie-image img{
    width: 100%;
    max-height: 400px;
    text-align: center;
}
.card-content h1{
    font-size: 1.5rem;
    font-weight: 500;
}
.card-content p{
    font-size: 1.5rem;
}
.loading-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch-btn{
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: 10px 0;
    color: white;
    background-color: #2A2C30;
}



.grid-container{
    margin: 50px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.header-container{
    
    margin-bottom: 2rem;
}
.header-container h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .8rem;
    
}
.header-container p{
    color: gray;
    margin-bottom: 1rem;

}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
label{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
input{
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgba(128, 128, 128, 0.264);
    border: none;
    outline: none;
    border-radius: 10px;
}
textarea{
    padding: 10px;
    font-size: 1.2rem;
}
.send-message-bnt{
    border: none;
    padding: 10px 50px;
    font-size: 1rem;
    color: white;
    background-color: brown;

}
@media (width < 900px) {
    .container{
        padding: 0 ;
    }
    .top-bar{
        padding: 1rem 2rem;
    }
    .navbar{
        padding: 1rem 2rem;
    }
}

@media (width < 650px) {
    .top-bar{
        padding: .5rem ;
    }
    .topbar-content{
        flex-direction: column;
        gap: 1rem;
    }
    .topbar-content P{
        font-weight: 700;
        font-size: 14px;
    }
    .navbar{
        flex-direction: column;
        gap: 1rem;
    }
    .right-section{
        grid-template-columns: repeat(1, 300px);
        row-gap: 2rem;
        text-align: left;
    }
    .footer{
        flex-direction: column;
        padding: 3rem;
    }
}


