*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container{
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
}

.container{
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
img{
  width: 100%;
}
.about-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1.5rem;
}
button{
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: brown;
  cursor: pointer;
}
p{
  font-size: 1.1rem;
  line-height: 1.5;
}