*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.container{
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    
}

img{
    max-width: 100%;
}
.content-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.heading{
    color: brown;
}
.btn{
    text-decoration: none;
    background-color: cadetblue;
    padding: 10px 20px;
    color: white;
    font-size: 1.3rem;
}
.about{
    text-align: start;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}