*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #171F29;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
header{
    width: 100%;
    height: 5rem;
    box-shadow: 1px 1px black;

}
.container{
    max-width: 80rem;
    margin: auto;
    height: 100%;
    
}
.header-container{
    height: 100%;
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-items: center;
    margin: 0 2rem;
}
nav{
    justify-items: flex-end;
    
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    justify-items: center;
}

.card-container{
    margin-top: 5rem;
}
.card-container ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    justify-content: center;
    gap: 2rem;
}
.card{
    background-color: gray;
    padding: 10px;
    
}