*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 100%;
  background-color: #171F29;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 3rem;
}
.grid-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
}
.card{
  background-color: #21303C;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 2px solid white;
}
.card p{
  color: rgb(245, 238, 238);
  font-size: 15px;
  font-weight: 600;
}
.btn-container{
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
.btn-container button{
  border: none;
  font-size: 1.2rem;
  padding: 5px 30px;
  outline: none;
  cursor: pointer;
}
.edit-btn{
  background-color: #19DA97;
  color: white;
}
.delete-btn{
  background-color: #EA4C3B;
  color: white;
}
.edit-btn:hover{
  background-color: #0ca26e;
}
.delete-btn:hover{
  background-color: #5c130b;
}
.form-container{
  width: 100%;
  max-width: 600px;
  background-color: #21303C;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
input{
  width: 100%;
  max-width: 250px;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  outline: none;

}
.add-btn{
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 1.2rem;
  background-color: #0ca26e;
}