*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.heading{
    font-size: 10rem;
}
.btn{
    position: absolute;
    top: 3rem;
    right: 3rem;
    border: none;
    padding: 10px 30px;
    font-size: 1.3rem;
    cursor: pointer;
}
