*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
}
button{
  border: none;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: brown;
  color: white;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 50px 100px;
  gap: 2rem;
}
.content-container{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
img{
  width: 100%;
  height: 300px;
}
@media (width < 1280px) {
    .card-container{
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (width < 980px) {
    .card-container{
      grid-template-columns: repeat(2, 1fr);
      margin: 50px;
    }
}
@media (width < 590px) {
    .card-container{
      grid-template-columns: repeat(1, 1fr);
      margin: 50px;
    }
}