*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grandparent{
  width: 600px;
  height: 300px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent{
  width: 500px;
  height: 200px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child{
  width: 400px;
  height: 100px;
  background-color: cadetblue;
}
